<header>
  <h1>
    <a href="{{ site.baseurl }}/" title "Home Page"><img src="{{ site.baseurl }}/assets/img/tock.svg" alt="Tock Logo"/></a>
  </h1>
  <nav>
    <label class="hamburger">
      <input type="checkbox" class="hamburger"/>
      <i class="menu material-icons">menu</i>
      <i class="close material-icons">close</i>
      <ul>
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'class="current"' %}
        {% endif %}
        <li><a href="{{ link.url | prepend: site.baseurl }}" {{ current }} {% if link.description %} title="{{ link.description }}" {% endif %}>{{ link.title }}</a></li>
      {% endfor %}
      </ul>
    </label>
  </nav>
</header>
<header>
  <strong><a href="https://world.tockos.org/">Join us for TockWorld 7, June 26–28 in San Diego, CA!</a></strong>
</header>
