// Colors

$color-primary: #2962ff;
$color-primary-light: #768fff;
$color-primary-dark: #0039cb;

$light-text: #fff;
$dark-text: #000;

$color-secondary: #ff4081;
$color-secondary-light: #ff79b0;
$color-secondary-dark: #c60055;

// Sizes

$header-height: 115px;
