---
layout: page
title: Talking Tock
subtitle: The Tock OS Blog
desc: Blog for the Tock embedded operating system
---
{% if paginator.page == 1 %}
  {% for post in site.posts limit: 2 %}
<link rel="prerender" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
  {% endfor %}
{% endif %}

<ul class="posts">
  {% for post in paginator.posts %}
  <li>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h3>{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</h3>
      <time class="post-date" datetime="{{ post.date }}">
      {% assign d = post.date | date: "%-d" %}
      {% assign m = post.date | date: "%B" %}
      {% case m %}
        {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
        {% when 'September' %}Sept.
        {% else %}{{ post.date | date: "%b" }}.
        {% endcase %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
      {{ post.date | date: "%Y" }}
      </time>
      <p>{% if post.desc %}{{ post.desc }}{% else %}{{ post.excerpt }}{% endif %}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<!-- post-list -->

<ol class="pager">
  {% if paginator.previous_page %}
  <li class="pager-prev">
    <a href="{{ paginator.previous_page_path }}">&larr; Previous</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="pager-next">
    <a href="{{ paginator.next_page_path }}">Next &rarr;</a>
  </li>
  {% endif %}
</ol>
